@import url(variables.css);

body {
  font-family: var(--font-main);
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
}

.bem-vindo {
  display: block;
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
  color: var(--skin-color);
}

.container {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  width: 600px;
  height: 250px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.menu-items {
  display: block;
  color: #000;
  background-color: var(--light-blue);
  font-weight: 700;
  padding: 5px;
  text-decoration: none;
}

.logo {
  position: absolute;
  left: 20px;
  bottom: 0;
}